<% sb.sub_budget_notations.each do |sbn| %>
	<tr data-id="<%= sbn.id %>" class="type-<%= sbn.notation_type %>">
	  <td><%= sbn.title %></td>
	  <td class="hidden-sm hidden-xs""><%= sbn.description %></td>
	  <td class=""><%= sbn.amount %></td>
	  <td>
	  	<%= link_to "Edit", edit_sub_budget_notation_path(id: sbn.id), remote: true, class: "btn btn-primary btn-xs", "data-toggle" => "modal", "data-target" => "#myModal" %>
			<%= link_to "Delete", sub_budget_notation_path(id: sbn.id), remote: true, class: "btn btn-danger btn-xs",method: :delete %>
	  </td>
	</tr>
<% end %>
