<div class="row">
	
	<div class="col-md-12">
		<% if !current_user.family_budget.present? && !current_user.family_budgets.present?%>

			<h2>Welcome to <em>Family Budget</em></h2>
			<p>Family Budget is a static overview of your familys budget. Displaying your income and expenses over a periode of your choice.</p>

			<div id="start-info">
				<div class="panel panel-default">
				  <div class="panel-body">
				    Create a <strong>Family Budget</strong>. You could look at this as a container for your budget.
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-body">
				    Create resonable <strong>Sub Budgets</strong>. This could be groceries, utilities, car-budget and so on.
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-body">
				    Create the <strong>People</strong> involved in your Family Budget.
				  </div>
				</div>
			</div>

			<p>So now you need a budget. Either create one, send a member request to join one, or wait for an invitation.</p>
			<%= link_to "Create Budget", new_family_budget_path, class: "btn btn-primary btn-lg center-block", id: "create-budget", method: :get %>
			<% if !current_user.member_requests.present? %>
				<% if FamilyBudget.first.present? %>
					<div class="card">
				    <div class="header">
				      <h4 class="title">Request to join a friends budget</h4>
				    </div>
				    <div class="content">
							<ul class="list-group">
								<% @family_budgets.each do |budget| %>
									<li class="list-group-item">
										<h4 class="list-group-item-heading"><%= budget.name %></h4>
										<p class="list-group-item-text">
											<strong>Owned by: </strong> <%= budget.owner_of_budget %>
										</p>
										<span>
											<%= link_to "Request membership", create_request_path(budget_id: budget.id), class: "btn btn-primary btn-xs", method: :post %>
										</span>
									</li>
								<% end %>
								</ul>
						</div>
					</div>
				<% elsif current_user.first_time %>
					<div class="card" id="dummy-request">
				    <div class="header">
				      <h4 class="title">Request to join a friends budget</h4>
				    </div>
				    <div class="content">
							<ul class="list-group">
									<li class="list-group-item">
										<h4 class="list-group-item-heading">BUDGET NAME</h4>
										<p class="list-group-item-text">
											<strong>Owned by: </strong> OWNER NAME
										</p>
										<span>
											<%= link_to "Request membership","#", class: "btn btn-primary btn-xs", method: :post %>
										</span>
									</li>
								</ul>
						</div>
					</div>
				<% else %>
					<h3>Request to join a budget.</h3>
					<p>There does not seem to exist any Family Budgets. I guess your the first person here..</p>
				<% end %>
			<% else %>
			<div class="card">
		    <div class="header">
		      <h4 class="title">You have a pending request</h4>
		    </div>
		    <div class="content">
		    	<p><strong>Budget name:</strong> <%= current_user.member_requests.first.family_budget.name %></p>
		    	<small><strong>Budget owner:</strong></small> <%= current_user.member_requests.first.family_budget.owner_of_budget %>
				<%= link_to "Cancel request", delete_request_path(user_id: current_user.id), class: "btn btn-primary", method: :post %>
				</div>
			</div>
			<% end %>
			<% if current_user.has_invitation? %>
				<div class="card">
			    <div class="header">
			      <h4 class="title">You have an invitation to a budget!</h4>
			    </div>
			    <div class="content">
			    	<p><strong>Budget name:</strong> <%= current_user.invitation.family_budget.name %></p>
			    	<p><small><strong>Budget owner:</strong></small> <%= current_user.invitation.family_budget.owner_of_budget %></p>
					<%= link_to "Join", update_invitation_path(budget_id: current_user.invitation.family_budget.id), class: "btn btn-primary btn-xs", method: :post %>
					</div>
				</div>
			<% elsif current_user.first_time %>
				<div class="card" id="dummy-invitation">
			    <div class="header">
			      <h4 class="title">You have an invitation to a budget!</h4>
			    </div>
			    <div class="content">
			    	<p><strong>Budget name:</strong> TO SOME BUDGET</p>
			    	<p><small><strong>Budget owner:</strong> NAME OF SOME OWNER</small></p>
					<%= link_to "Join", no_budget_path(:finished => 'true'), class: "btn btn-primary btn-xs", method: :get %>
					</div>
				</div>
			<% else %>

			<% end %>
		<% end %>
		<input id="first-time" type="hidden" name="first-time" data-first="<%= current_user.first_time %>">
	</div>
</div>