<h1>Welcome</h1>

<%= link_to "logout", destroy_user_session_path, method: :delete %>
<br>

<% if !current_user.family_budget.present? && !current_user.family_budgets.present?%>
	<h1>You need a Budget. Either create one, or join one.</h1>
	<%= link_to "create budget", new_family_budget_path %>
	<% if !current_user.member_requests.present? %>
		<h2>Request to join a friends budget</h2>
		<ul>
			<% @family_budgets.each do |budget| %>
				<li><%= budget.id %> 
					<span>
						<%= link_to "Request membership", create_request_path(budget_id: budget.id), method: :post %>
					</span>
				</li>
			<% end %>
		</ul>
	<% else %>
		<h3>You have a pending request</h3>
		<p>It is for budget <%= current_user.member_requests.first.family_budget.name %></p>
		<%= link_to "Cancel request", delete_request_path(user_id: current_user.id), method: :post %>
	<% end %>
<% else %>
	<br>
	<% if current_user.family_budget.present? %>
		<%= link_to "see budget", family_budget_path(current_user.family_budget.id) %>
	<% elsif current_user.family_budgets.present? %>
		<%= link_to "see budget", family_budget_path(current_user.family_budgets.first.id) %>
	<% end %>
<% end %>
