<nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to root_path, class: "navbar-brand hidden-lg hidden-md", method: :get do %>
                    FAMILY BUDGET
            <% end %>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              
                <%# render 'layouts/notification' %>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-globe">
                      <% if current_user.family_budget.present? && current_user.family_budget.pending_members.present? %>
                        <span class="notification hidden-sm hidden-xs"><%= current_user.family_budget.pending_members.count %></span>
                      <% end %>
                    </i>
                    <% if current_user.family_budget.present? && current_user.family_budget.pending_members.present? %>
                      <b class="caret hidden-lg hidden-md"></b>
                      <p class="hidden-lg hidden-md">
                        <%= current_user.family_budget.pending_members.count %> Notification
                        <b class="caret"></b>
                      </p>
                    <% end %>
                  </a>

                  <ul class="dropdown-menu notifications">
                    <% if current_user.family_budget.present? && current_user.family_budget.pending_members.present? %>
                      <% current_user.family_budget.pending_members.each do |request| %>
                          <li>
                            <%= link_to update_request_path(request: request, budget: current_user.family_budget.id, user_id: request.id), remote: true,  method: :post  do %>
                              <%= request.email %> want to join your Budget!
                            <% end %>
                          </li>
                        <% end %>
                    <% else %>
                        <li>
                            <a>No notifications</a>
                        </li>
                    <% end %>
                  </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                   <%= link_to edit_user_registration_path, method: :get do %>
                   <% if !current_user.full_name.blank? %>
                      <p><%= current_user.full_name %></p>
                   <% else %>
                       <p><%= current_user.email %></p>
                    <% end %>
                  <% end %>
                </li>
                <li class="separator hidden-lg"></li>
            </ul>
        </div>
    </div>
</nav>